:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
/* body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c29;
} */
img{
  border-radius: 5px;
}
.card {
  width: 350px;
  height: 320px;
  border-radius: 12px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: 0 36px; */
  perspective: 2500px;
  margin-bottom: 10px;
  /* margin: 0 50px; */
}
.DespcStyle{
  display: -webkit-box;
  max-width: 350px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.DespcStyle1{
  text-align: center;
  display: -webkit-box;
  max-width: 340px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cover-image {
  /* border-radius: 12px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  color:white;
  width: 100%;
  /* transition: transform 0.5s; */
}
.card:hover .title {
  /* transform: translate3d(0%, -50px, 100px); */
}

.titleBox{
  /* margin-top: 150px; */
  width: 100%;
  /* border: 1px solid green; */
  transition: transform 0.5s;
  text-align: center;
}

.card:hover .titleBox {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  /* border-radius: 12px; */
  width: 390px;
  height: 290px;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -15%, 100px);
}
